
  //modal
  .modal.fade.show(style='display:bloc;' role='dialog' tabindex='-1' id='modalView')
    .modal-dialog.modal-lg.modal-dialog-centered.modal-dialog-scrollable(role='document')
      .modal-content
        .modal-header
          h1.modal-title ሓደ ግዛዕ መንደኾን
          button.close(type='button' data-dismiss='modal')
            span ×
        .modal-body
          .table-responsive
            table.table
              thead
                tr
                  th ሽም ሊግ
                  th ፀወታ
                  th ግምት
                  th ዝተመረፀ
                  th ኦድ
              tbody
                tr
                  td Laliga
                  td Barcelona Vs Real Madrid
                  td 3-Way
                  td 1
                  td 5.5
        .modal-footer
          p ቅድሚ ክፍሊት ምኽፋሎም ከምዝሰዓሩ ብደንቢ ጌርም የረጋግፁ
          button.btn.btn-light(type='button' data-dismiss='modal') ዕፀው
          button.btn.btn-primary(type='button' data-dismiss='modal') ስዒሩ  