extends base
block content
  .container-fluid(style='background-color:rgb(20,20,20)')
    .text-center.mt-5
      .error.mx-auto(data-text='404')
        p.m-0 404
      p.text-dark.mb-5.lead ዛ ገፅ ኣይተረኸበትይ
      p.text-black-50.mb-0 ይቕረታ፤ ትኽክል ለይኮነ ኣድራሻ ኣእቲኹም። በይዘኦም ደጊሞም ኣረጋጊፆም ይልኣኹ...
      a(href='/') ← ናብ ዋና ገፅ ተመለስ