extends base

block content
  .container-fluid(style='background-color:rgb(20,20,20)')
    h3.text-success.mb-4 ሊግ መዝግብ
    .row.mb-3
      .col-lg-8 
        .row
          .col
            .card.shadow.mb-3(style='background-color:rgb(51,51,51);border-color:rgb(41,41,41)')
              .card-body
                form
                  .form-row 
                    .col
                      .form-group
                        lable(for='username')
                          strong.text-light ሽም ሊግ
                          br
                        input.form-control.bg-dark(type='text' placeholder='ናይ ሊግ ሽም...' style='color:rgb(255,255,255);border-color:rgb(41,41,41)' name='title' id='leagueInput')
                  .form-group
                    button.btn.btn-success.btn-sm(type='submit' id='registerLeagueBtn') ሊግ መዝግብ
  
    .col
      .card.shadow.mb-3(style='background-color:rgb(51,51,51);border-color:rgb(41,41,41)')
        .card-body
          h3.text-light ዝተመዝገቡ ፀወታታት
          ul.list-group
            each league, i in leagues
              li.list-group-item(style='background-color:rgb(41,41,41)')
                span= league.title
                //- input(value=league._id style='display: none' id=`leagueIdField${i}`)
                button.btn.btn-danger.btn-sm(type='submit' onclick=`deleteLeague("${league._id}")`) Delete
            
      
